<div id="main" class="container-fluid justify-content-center">
    <div class="row justify-content-center">
        <div class="col-md-12 alert alert-danger" role="alert">{{error}}</div>
        <div class="col">
            <button id='backButton' class="btn btn-primary" onclick= window.location.replace('/products')>Volver</button>
        </div>
    </div>
</div>
<script src="/js/error.js"></script>