<div class="container-fluid m-2 d-flex justify-content-center">
    <div class="row">
        <h1 class="col">Tu perfil (sin datos sensibles)</h1>
        <div class="col card card-body shadow-lg bg-body rounded d-flex justify-content-center">
            <div class=" card-text">
                <p >Nombre {{user.name}}</p>
                <p >Mail {{user.email}}</p>
                <p> Edad {{user.age}}</p>
            </div>
        </div>
    </div>
<div>
    
    
</div>