<div class="container-fluid m-2 d-flex justify-content-center">
    <div class="card d-flex justify-content-center">
        <h1 class="card-title">Reseteo de contrase単a</h1>
        <div class="shadow-lg card-body bg-body rounded">
            <form id="resetPasswordForm" class="card-body row g-3 justify-content-center needs-validation" novalidate> 
                <div class="mb-3 col-md-12">
                    <label htmlFor="username" class="form-label">Email</label>
                    <input type="username" class="form-control" name="username" id="username" placeholder="someone@gmail.com" required/>
                    <div class="invalid-feedback">
                        Este campo es requerido
                    </div>
                    <label htmlFor="password" class="form-label">Nueva contrase単a</label>
                    <input type="password" class="form-control" name="password" id="password" placeholder="*******" required/>
                    <span class="fa fa-fw fa-eye password-icon show-password"></span>
                    <div class="invalid-feedback">
                        Porfavor confirma tu contrase単a.
                    </div>
                    <label htmlFor="confirm-password" class="form-label">Confirmar contrase単a</label>
                    <input type="password" class="form-control" name="confirm-password" id="confirm-password" placeholder="*******" required/>
                    <div class="invalid-feedback">
                        Este campo es requerido
                    </div>
                </div>
                
                <div class="col-12">
                    <button class="btn btn-primary" type="submit">Confirmar</button>
                </div>
            </form>
            <p>Volver al <a href="/users/login">login</a>.</p>
        </div>
    </div>
</div>
<script src="/js/resetPassword.js"></script>